@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* html{
  background-color: #345511 !important;
  
} */
body{
  font-size: 19px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color:rgb(145, 191, 77);
}

h1{
  font-size: 3rem;
  font-weight:800;
  color: #4FB477;
}
header{
  /* font-weight: 400; */
  height: 100vh;
}
.logo{
  font-size: 1.5rem;
  font-weight: 800;
  padding: 2rem;
  color: #FAF562;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: rgba(243, 237, 237, 0.15);
  border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
}

.img img{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
}

.nav-item ul{
  display: flex;
  gap: 25px;
  padding: 1.5rem;
}
.drawer{
  display: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
.line{
  display: none;
  width: 100%;
  padding: 1px;
  background-color: #4FB477;
}

.active , .line{
  display: block;
}

.scroll-top{
  position: sticky;
}
.animation{
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
.header-content{
  position: relative;
} 

.content{
  position: absolute;
  top: 10rem;
  left: 53rem;
}

.content-text{
  width: 80%;
}

/* matches */

.matches{
  height: 90vh;
}

.card-style .card{

  /* background: rgb(0,0,0); */
  background: linear-gradient(100deg, #f2f2f2 50%, #4FB477 50%);
  border: none;

}
.matches .card-header{
  border: none !important;
  color: #fff;
}
.matches .card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
}
.title{
  color: #FAF562;
}
.matches .text{
  font-size: 24px;
}
.text{
  color: #4FB477;
}
.matches .p-text{
  color: #3f3f41;
  /* margin-bottom: 0 !important; */
}
.card-center .center-card-text{
  overflow: hidden;
  position: relative; 
  top: 30%;
  color: #000;
  font-size: 2rem;
  background: linear-gradient(100deg, #4FB477  49%,  #f2f2f2 45%);
  border-radius: 50%;
  padding: 15px;
}
a{
  color: #000;
}

.card-text{
  text-align: center;
}

.card-text li img:nth-child(1){
  /* font-size: 30px;
  font-weight: 600; */
  color: #4FB477;
  border-radius: 50%;
}
.next-match{
  background-color: #4FB477;
}
.btn{
  background-color: #FAF562 !important;
  cursor: pointer;
}
.card-left{
  color: #000;
}

.widget-vs{
  width: 100%;
  color: #000;
  padding: 4rem;
}
.vs{
  font-size: 3rem;
}


/* Blog */

.blog{
  height: 100vh;
}
.image{
  display: block;
  width: 100%;
}
.custom-media .card{
  border-radius: 10px;
}
.blog-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  /* position: relative; */
}
.custom-media{
  margin: 1rem;
  padding: 1.5rem;
  /* width: 30%; */
  /* height: 20%; */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #2b2929ed; */
  overflow: hidden;
  z-index: 1000;
  width: 34.5vw;
  height: 0%;
  background: rgba(243, 237, 237, 0.334);
  border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
  transition: .5s ease;
  border-radius: 10px;
}
.custom-media:hover .overlay {
  height: 50%;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify center;
}
video{
  border-radius: 10px;
}
.contact{
  background-color: rgb(65, 145, 114);
  height: 100vh;
}

/* ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol{
  padding: 0px !important;
  margin-bottom: 0px !important;
}
.carousel {
  position: relative;
  padding-top: 20%;
  margin-top: 10%;
  filter: drop-shadow(0 0 10px #0003);
  margin-top: 1rem;
  border: none;
}

.carousel__viewport {
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
}

.carousel__slide:nth-child(1) {
  background-color: #99f;

  filter: contrast(115%);
  object-fit: cover;
  aspect-ratio: 4/3;
  mix-blend-mode: darken;


}
.carousel__slide:nth-child(2) {
  background-color: rgb(255, 153, 235);
  filter: contrast(115%);
  object-fit: cover;
  mix-blend-mode: darken;

}
.carousel__slide:nth-child(3) {
  background-color: rgb(28, 132, 202);
  mix-blend-mode: darken;
  object-fit: cover;

}
.carousel__slide:nth-child(4) {
  
  mix-blend-mode: darken;
  object-fit: cover;

}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}



@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name:none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
} */
.carousel-wrapper {
  display:flex;
  overflow:hidden;
  gap: 10px;
  /* width: 50%; */
}
/* @media (hover : hover) {
  .carousel-wrapper{

    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
} */


@media (max-width: 768px) {
  header{
    display: block;
  }
  .nav-item{
    display: none;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .nav{
    display: flex;
    justify-content: space-between;
  } 
  .matches{
    height: 60vh !important;
  }
  .drawer{
    display: block;
    margin-top: 1rem;
    padding: 1rem;
  }
  .content{
    position: absolute;
    left: 100px;
    top: 12rem;
  }
  .img img{
    display: block;
    width: 100%;
    height: 100%;
  }
  .card-style{
    display: block;
  }
  .card-style li{
    display: none;
  }

  .up-match .col-6{
    width: 100% !important;
    
  }
  
  .coming-card{
    grid-template-columns: auto;
    display: grid;
  }

  .blog-content.gap-4{
    gap: 0.5 !important;
  }

  video{
    height:50%;
    width: 100%;
  }

  .custom-media{
    width: 100%;
  } 
  
  .custom-media .card{
    width: 100%;  
    gap: 10px;
    display: flex;
    flex-wrap: nowrap !important;
  } 
  .contact .col-6{
    width: 100% !important;
  }


  .footer-item{
    /* display: block;*/
    display: flex;
    flex-direction: row;
  }
  .footer-item .fs-2 {
    font-size: calc(1.25rem + -0.1vw)!important;
  }
  .footer-item .fs-2 img{

    width: 170%;
    height: 50%;
  }
  .footer-item .fs-3{
    font-size: calc(1.225rem + -0.1vw)!important;
  }
  .footer-item a{
    font-size: 16px;
  }
  .footer-item_3{
    display: none;
  }
  .contact{
    padding: 4rem;
      background-color: #4FB477;
  }
  .overlay{
    width: 100%;
    text-align: left;
  }
}

.Side-nav{
  /* height: 100%; */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(243, 237, 237, 0.15);
  border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6rem;
}
.Side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4FB477;
  display: block;
  transition: 0.3s;
}
.Side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* .Side-nav-item{
  background-color: #000;
} */